html {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
}

main {
  width: 90%;
  margin: 0 auto;
}

h1,
h2 {
  margin: 0;
  color: lightslategray;
}

h1 {
  color: #65a2ac;
  font-family: 'Zen Kurenaido', sans-serif;
}

h2 {
  font-size: 1.5rem;
}

.timer-container,
.crib-sheet-area,
.button-container,
.button-container-1,
.button-container-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.watch {
  font-family: 'Noto Sans Mono', monospace;
  font-size: 4rem;
  font-weight: 500;
}

.crib-sheet-area {
  flex-direction: column;
}

.curr {
  color: #65a2ac;
  font-size: 2rem;
  height: 2rem;
  line-height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.next {
  color: gray;
  height: 2rem;
  line-height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

button {
  appearance: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

button:not(:disabled) {
  color: #5a919a;
}

.button-item {
  margin: 10px;
}

.io-item label {
  display: block;
}

.io-item {
  width: 90%;
}

textarea.notes {
  width: 94%;
  font-family: sans-serif;
}

.io-container {
  display: flex;
}

footer {
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer a {
  color: #5a919a;
  text-decoration: none;
}